<footer>
    <div class="fa-info">
        <div class="fa-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="fa-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="fa-info-links">
            <a href="/privecy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
