<% layout("/layouts/boilerplate") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 offset-md-2">
      <h3>Create a New Listing</h3>

      <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" type="text" class="form-control" placeholder="Enter title" required>
          <div class="valid-feedback"> Title looks  good</div>
          <div class="invalid-feedback"> Required Title</div>
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" placeholder="Description..." required></textarea>
          <div class="invalid-feedback"> Description should be valid</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image Link</label>
          <input name="listing[image]" type="file" class="form-control">
      </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]"class="form-control" placeholder="Enter price" required>
            <div class="invalid-feedback"> Price should be valid</div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" type="text" class="form-control" placeholder="Enter country" required>
            <div class="invalid-feedback"> Country should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" type="text" class="form-control" placeholder="Enter location..." required>
          <div class="invalid-feedback"> Location should be valid</div>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</div>