/*navbar*/

.body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
 
}

.navbar{
   height: 5rem; 
   background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size:2rem;
}

.nav-link{
    color: #222222 !important;
    
}


/*footer*/
.fa-info-links a {
    text-decoration: none;
}
.fa-info-links a:hover {
    text-decoration: underline;
}

.fa-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-info-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-info-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.fa-info {
    text-align: center;
    height: 8rem;
    background-color: #fbf7f7;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
}
/*cards*/
.card{
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
}
.card-text{
    font-weight:400 ;
}
.card-text p{
    font-weight: 500;
}

.listing-link{
    text-decoration: none;
}
/*card effect*/
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color:rgb(237, 112, 112);
}

/*show*/
.card.custom-card {
    border: none; /* Removes the card border */
    box-shadow: none; /* Removes the shadow if you want a cleaner look */
  }
  .btn {
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  .modal-lg {
    max-width: 90%;
  }